
.areaHeader {
    min-height: 150px ;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title-head {
    font-size: 2rem;
}


@media screen and (min-width: 780px) {
    .areaHeader {
        min-height: 250px;
        /* align-items: center; */
    }

    .title-head {
        font-size: 5rem;
    }
}